* {
    padding: 0;
    margin: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%; 
 }
    
:root { 
    --dark-background: #4A4E69;
    --medium-background: #4a4e693f;
    --light-background: #F2E9E4;
    --light-accent: #C9ADA7; 
 }

body {
    width: 100vw;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;

    grid-row: 1/2;
}

h1 {
    font-size: 4rem;
    text-align: center;
    font-family: 'Parisienne', cursive;
}

p {
    font-family: 'Marck Script', cursive;
    font-size: 2rem;
}

section {
    grid-row: 2/3;
    width: 60%;
}

.wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 600px;
    align-items: center;
    gap: 2rem;
}

#story-container {
    grid-row: 3/4;
    overflow-x: scroll;

    height: 600px;
    display: flex;
    flex-direction: row;
}

#story-container > img {
    height: 600px;
    width: auto;
}

.story-card {
    width: 600px;
    height: 600px;
}